.blur-enter-active {
  animation: opacity 0.5s forwards;
}

.blur-enter-done {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
}

.blur-exit-active {
  animation: opacity 0.5s reverse;
}

.menu-enter-active {
  animation: transform 0.5s forwards;
}

.menu-enter-done {
  transform: translateX(0);
}

.menu-exit-active {
  animation: transform 0.5s reverse;
}

.button-up-enter-active {
  animation: button 0.3s forwards;
}

.button-up-enter-done {
  right: 2rem;
}

.button-up-exit-active {
  animation: button 0.3s reverse;
}

@keyframes opacity {
  0% {
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0);
  }

  100% {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
  }
}

@keyframes transform {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes button {
  0% {
    right: 0;
    opacity: 0;
    transform: rotate(-90deg) scale(0);
  }

  100% {
    right: 2rem;
    opacity: 1;
    transform: rotate(-90deg) scale(1);
  }
}
